@helper ConvertDate(int unixDate)
{
    DateTime dt = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc).AddSeconds(unixDate);
    string date = dt.ToShortDateString();
    @date;
}
@helper PrintDate(int day)
{
    string strDate = day == 0 ? "Today" : day == 1 ? "Tomorrow" : DateTime.Now.AddDays(day).ToShortDateString();
    @strDate
}
<div>
    <hr />
    <h5>Forecast for city: <b>@Model.City.Name</b></h5>
    <table class="table table-bordered table-striped forecast-table">
        <tr>
            <th class="frc-td"><img src="~/Images/icons/date.png" class="w-icon"/> Date</th>
            <th class="frc-td"><img src="~/Images/icons/pressure.png" class="w-icon" /> Pressure</th>
            <th class="frc-td"><img src="~/Images/icons/humidity.png" class="w-icon" /> Humidity</th>
            <th class="frc-td"><img src="~/Images/icons/morning.png" class="w-icon" /> Temp morn</th>
            <th class="frc-td"><img src="~/Images/icons/day.png" class="w-icon" /> Temp day</th>
            <th class="frc-td"><img src="~/Images/icons/evening.png" class="w-icon" /> Temp even</th>
            <th class="frc-td"><img src="~/Images/icons/night.png" class="w-icon" /> Temp night</th>
            <th class="frc-td"><img src="~/Images/icons/wind.png" class="w-icon" /> Wind speed</th>
            <th class="frc-td"><img src="~/Images/icons/description.png" class="w-icon" /> Description</th>
            <th class="frc-td">Icon</th>
        </tr>
        @for (int i = 0; i < Model.Cnt; i++)
        {
            var item = Model.list[i];
            var @iconPath = $"http://openweathermap.org/img/w/{item.Weather[0].Icon}.png";

            <tr>
                <td class="frc-td">@PrintDate(i)</td>
                <td class="frc-td">@item.Pressure</td>
                <td class="frc-td">@item.Humidity</td>
                <td class="frc-td">@item.Temp.Morn</td>
                <td class="frc-td">@item.Temp.Day</td>
                <td class="frc-td">@item.Temp.Eve</td>
                <td class="frc-td">@item.Temp.Night</td>
                <td class="frc-td">@item.Speed</td>
                <td class="frc-td">@item.Weather[0].Description</td>
                <td class="frc-td"><img src="@iconPath" /></td>
            </tr>
        }
    </table>

</div>

