@model WheatherForecast.Models.OpenWeatherModels.ForecastObject

@helper DrawCityName()
{
    @(Model == null ? "" : Model.City.Name)
}

@helper DrawDayNumbers()
{
    <br />
    <div class="radio">
        <label><input type="radio" name="days" value="1">1 day</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="days" value="3">3 days</label>
    </div>
    <div class="radio disabled">
        <label><input type="radio" name="days" value="7">7 days</label>
    </div>

    <input class="btn btn-success" type="submit" value="See Forecast" />
}

@{
    ViewBag.Title = "Index";
}
<div class="weather-content">
    <div>
        <h2 align="center" class="weather-title">Smart Weather</h2>
    </div>
    <div class="forecast-forms">
        <div >
            <form action="/Weather/Index" method="post" class="forecast-form">
                <div class="form-group">
                    <select name="city" class="form-control">
                        @foreach (var city in ViewBag.Cities)
                        {
                            <option value="@city" class="form-control">@city</option>
                        }
                    </select>

                    @DrawDayNumbers()
                </div>
            </form>
        </div>
        <div >
            <form action="/Weather/Index" method="post" class="forecast-form">
                <div class="form-group">
                    <input type="text" class="form-control" name="city" placeholder="Enter city name.." value="@DrawCityName()"/>

                    @DrawDayNumbers()
                </div>
            </form>
        </div>
        @*<div class="col-md-3"> 
        </div>
        <div class="col-md-3">
            <img src="~/Images/sun_behind_cloud.png" class="logo" />
        </div>*@
    </div>
    @if (Model != null)
    {
        @Html.Partial("ForecastView", Model)
        ;
    }
    <h4 class="error-message">@(ViewBag.ErrorMessage ?? "")</h4>
    <hr/>
    <div class="box box-effect">
        <p align="center"><span class="quoted">Wherever you go, whatever the weather, always bring your own sunshine.</span>
        </p>
    </div>
</div>



