<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div>
    @*<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Weather", "Index", "Weather")</li>
                    <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                    <li>@Html.ActionLink("History", "Index", "History")</li>
                </ul>
            </div>
        </div>
    </div>*@
    <div class="header">
        <div class="header-logo">
            <img class="logo-img" src="~/Images/sun_behind_cloud.png"/>
            <span>Wheather App</span>
        </div>
        <div>
            <ul class="site-navbar">
                <li><a class="nav-link" href="/weather">Weather</a></li>
                <li><a class="nav-link" href="/settings">Settings</a></li>
                <li><a class="nav-link" href="/history">History</a></li>
                @*<li>@Html.ActionLink("History", "Index", "History", new {@class="nav-link"})</li>*@
            </ul>
        </div>
    </div>
    @*<div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <div class="footer">
                
            </div>
            <p>&copy; @DateTime.Now.Year - ASP.NET MVC Application for BSA 2017</p>
        </footer>
    </div>*@
    <div class="main-content">
        @RenderBody()
    </div>
    <hr/>
    <footer class="footer">
        <div class="company-info">
            <p>Company info:</p>
            <p>SmartWeather corp</p>
            <p>Ukraine</p>
        </div>
        <div class="contact-us">
            <p>Contact us:</p>
            <p>+380982281488</p>
            <p>+380633331483</p>
            <a href="mailto:yura27kuchevskiy@gmail.com">e-mail</a>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
